/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.log

# Ignore log files that may contain sensitive data
app/Libraries/**/logs/
app-10-2025/Libraries/**/logs/
**/*.log
**/logs/

